<% if @locations.present? %>
  <%= link_to 'Add Location', new_location_path, class: 'btn btn-success btn-sm float-right' %>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-6">
      <h2 class="font-bold ">Locations</h2>
    </div>
  </div>

  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row white-bg">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="full-height-scroll">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @locations.each do |location| %>
                    <tr>
                      <td><%=location.id%></td>
                      <td><%=location.name.truncate(20)%></td>
                      <td><%=location.description.truncate(40)%></td>
                      <td>
                      	<%= link_to 'View Location', location_path(location), class: 'btn btn-success btn-sm' %>
                        <%= link_to 'Edit Location', edit_location_path(location), class: 'btn btn-warning btn-sm' %>
                        <%= link_to 'Remove Location', location_path(location), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %>
                        <%= link_to 'Copy Location', location_copy_path(location), class: 'btn btn-info btn-sm' %>
                      </td>
                    </tr>
                    <%end%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <%= render 'no_location' %>
<% end %>